<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="shopEntities" connectionString="metadata=res://*/ShopModel.csdl|res://*/ShopModel.ssdl|res://*/ShopModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=shop;persist security info=True;user id=sa;password=cf7039;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>